@import  url('../../../assets/css/_globals.css');

body {
	margin:0px;
	font-size: var(--procMonitor-font-size);
	font-weight: var(--procMonitor-font-weight);
	font-family: var(--font-family);
	color: var(--procMonitor-font-color);
	background-color: var(--procMonitor-background-color);
}