<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TimeSeriesData</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="TimeSeriesData.css">
   
   <script src="../../vendor.bundle.js"></script>
   <script src="TimeSeriesData.js"></script>
   <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
   <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham-dark.css">
  
   
</head>
<body>



<!--<div id="myGrid" style="height: 600px;width:700px;" class="ag-theme-balham-dark"></div>-->
<div id="myGrid" style="height: 100%;" class="ag-theme-balham-dark"></div>

</body>
</html>

